.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aquamarine;
}

.startBtn {
    height: 40px;
    width: 80px;
}

.shoppingImg {
    height: 150vh;
    width: 400px;
}