.container {
    align-content: center;
    display: flex;
    flex-direction: column;
    background: aquamarine;
    height: 500px;
    width: 700px;


}

.profileImg {
    height: 100px;
    width: 100px;
    align-content: center;
    display: flex;
    flex-direction: column;

}