.category {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    border-radius: rgb(32, 133, 99);
    border-radius: 10px;
}

.button {
    background-color: rgb(15, 130, 92);
    color: white;
    gap: 5px;
    width: 5%;
}