.container {
    background: aquamarine;
    gap: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 500px;
    padding-left: 50px;
    margin: auto;
    margin-top: 0px;
    padding-bottom: 0px;
    border-radius: 8px;
    font: 100px;
    font-size: medium;

}